﻿@using GridMvc.Html
@using Model.Entities

@{
    ViewBag.Title = "View";
}


@model BusinessLayer.Contracts.GetVacanciesResponse

<h2>Вакансии</h2>

<div class="panel panel-default">
    <form action="/Vacancy/Index" method="get">  
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="form-group" name="siteUrlContainer" id="siteUrlContainer">
                <label for="siteUrl">Ссылка на вакансии</label>
                <input type="url" class="form-control" id="siteUrl" name="siteUrl">
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBox("getFromDb")
                    Из базы данных
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Получить данные</button>
        </div>
    </form>
</div>

@if (Model.IsError) {
    <p class="alert alert-danger">@Model.ErrorMessage</p>
}
else
{
    <p class="alert alert-success">@Model.ErrorMessage</p>
}


@(Html
    .Grid(Model.Vacancies).Named("vacancies")
    .Columns(columns =>
    {
        columns.Add(vacancy => vacancy.Id, true).Titled("Id").Sortable(true).Filterable(true);
        columns.Add(vacancy => vacancy.Title).Titled("Должность").Sortable(true).Filterable(true);
        columns.Add(vacancy => vacancy.Salary).Titled("Оклад").Sortable(true).Filterable(true);
        columns.Add(vacancy => vacancy.Company.Name).Titled("Компания").Sortable(true).Filterable(true);
        columns.Add(vacancy => vacancy.EmploymentType).Titled("Тип занятости").Sortable(true).Filterable(true);
        columns.Add(vacancy => vacancy.Description, true).Titled("Under-Row");
    }).SetRowCssClasses(vacancy=>vacancy.Id.ToString()).Sortable().Filterable().WithPaging(20)
      )

<script>
    $(function() {
        pageGrids.vacancies.onRowSelect(e => {
            $("." + e.row['Id'] + " + .under-row").toggle();
            //console.log(e.row);
        });
    });

    $("#getFromDb").change(function () {
        $("#siteUrlContainer").toggle();
    });
</script>

